{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu" role="complementary">
      {{ page.left_off_canvas }}
    </aside>

    <aside class="right-off-canvas-menu" role="complementary">
      {{ page.right_off_canvas }}
    </aside>

    <div class="main-content">
      <header class="section-header">
        <div class="gradient">
        <div class="row">
          <div class="logo large-4 columns">
            <a href="{{ front_page }}">
              <img src="{{ logopath }}" alt="{{ site_name }}">
            </a>
          </div>
          <div class="header-right large-8 columns">
            {% if page.header_right %}
            <div class="header-right-content">
              {{ page.header_right }}
            </div>
            {% endif %}
            <div class="header-right-menu">
              {{ page.nav }}
            </div>
          </div>
        </div>
        {% if page.notice %}
        <div class="row header-notice">
          <div class="column">
            {{ page.notice }}
          </div>
        </div>
        {% endif %}
        </div>
      </header>
      {% if page.search %}
      <section class="section-search">
        <div class="row">
          <div class="column">
          {{ page.search }}
          </div>
        </div>
      </section>
      {% endif %}
      <section class="section-content">
        {% if messages and not zurb_foundation_messages_modal %}
          <div class="l-messages row">
            <div class="large-12 columns">
              {{ messages }}
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="column">
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          {{ page.content }}
          </div>
        </div>
      </section>
      <footer class="section-footer">
        <div class="row">
          {% if page.footer_first %}
            <div class="footer-first large-4 columns">
              {{ page.footer_first }}
            </div>
          {% endif %}
          {% if page.footer_last %}
            <div class="footer-last large-8 columns">
              {{ page.footer_last }}
            </div>
          {% endif %}
        </div>
      </footer>
    </div>
    <a class="exit-off-canvas"></a>
  </div>
</div>
